<aside id="my-mdc-dialog-show" class="mdc-dialog" role="alertdialog" aria-labelledby="my-mdc-dialog-label" aria-describedby="my-mdc-dialog-description">
	<div class="mdc-dialog__surface">
		<header class="mdc-dialog__header mdc-form-field">
			<h2 id="show-dialog-title" class="mdc-dialog__header__title">

			</h2>
		</header>
		<section id="my-mdc-dialog-description" class="mdc-dialog__body">
			<ul class="mdc-list">
				<li class="mdc-list-item" id="show-dialog-day"></li>
				<li class="mdc-list-item" id="show-dialog-hour"></li>
			</ul>
		</section>
		<footer class="mdc-dialog__footer">
			<button type="button" class="remove-schedule mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel">Remove</button>
			<button type="button" class="mdc-button mdc-button--unelevated mdc-dialog__footer__button mdc-dialog__footer__button--accept">OK</button>
		</footer>
	</div>

	<div class="mdc-dialog__backdrop"></div>
</aside>
