<br/>

<div class="wrapper">

	<table class="table table-hover table-striped table-bordered">
		<thead class="thead-dark">
			<tr>
				<th width="5%" scope="col">#</th>
				<th scope="col">Dom</th>
				<th scope="col">Seg</th>
				<th scope="col">Ter</th>
				<th scope="col">Qua</th>
				<th scope="col">Qui</th>
				<th scope="col">Sex</th>
				<th scope="col">Sab</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th class="hour">07:00</th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th class="hour">08:00</th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th class="hour">09:00</th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th class="hour">10:00</th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th class="hour">11:00</th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th class="hour">12:00</th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th class="hour">13:00</th>
				<td></td>
				<td></td>
				<td>
					<div>CrossFit</div>
					<div>TCC</div>
					<div>CERS</div>
				</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th class="hour">14:00</th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th class="hour">15:00</th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th class="hour">16:00</th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th class="hour">17:00</th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th class="hour">18:00</th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th class="hour">19:00</th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th class="hour">20:00</th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>21:00</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th class="hour">22:00</th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>

</div>

<aside id="my-mdc-dialog" class="mdc-dialog" role="alertdialog" aria-labelledby="my-mdc-dialog-label" aria-describedby="my-mdc-dialog-description">
	<div class="mdc-dialog__surface">
		<header class="mdc-dialog__header mdc-form-field">
			<h2 id="my-mdc-dialog-label" class="mdc-dialog__header__title">
				Add a reminder (<small data-day="" data-hour="" id="schedule"></small>)
			</h2>
		</header>
		<section id="my-mdc-dialog-description" class="mdc-dialog__body">
			<div class="mdc-text-field mdc-text-field--fullwidth">
				<input id="reminder" class="mdc-text-field__input" type="text" placeholder="Enter here your reminder..." aria-label="Enter here your reminder...">
			</div>
		</section>
		<footer class="mdc-dialog__footer">
			<button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel">Decline</button>
			<button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept">Accept</button>
		</footer>
	</div>

	<div class="mdc-dialog__backdrop"></div>
</aside>
