
td, th {
	text-align: center;
	vertical-align: middle;
}

table {
	height: 100%;
}

tbody tr td div {
	margin-bottom: 5px;
	background-color: #0275d8;
	color: white;
	cursor: pointer;
	border-radius: 10px;
}

#drawer-header {
	background-image: url(https://ak1.picdn.net/shutterstock/videos/26463461/thumb/1.jpg);
    color: black !important;
    font-size: 25px;
    font-weight: 800;
    font-family: monospace;
}
