
td, th {
	text-align: center;
	vertical-align: middle;
}

table {
	height: 100%;
}

tbody tr td div {
	margin-bottom: 5px;
	background-color: #0275d8;
	color: white;
	cursor: pointer;
	border-radius: 10px;
}
