<aside class="mdc-drawer mdc-drawer--temporary demo-drawer">
	<nav class="mdc-drawer__drawer">
		<header class="mdc-drawer__header">
			<div id="drawer-header" class="mdc-drawer__header-content mdc-theme--text-primary-on-primary mdc-theme--primary-bg">
				MyHabbits
			</div>
		</header>

		<nav class="mdc-drawer__content mdc-list-group">
			<div id="icon-with-text-demo" class="mdc-list">
				<%= link_to root_path, class: "mdc-list-item #{is_current_menu_active?('home')}" do %>
					<i class="material-icons mdc-list-item__graphic" aria-hidden="true">event</i>Calendar
				<% end %>

				<%= link_to habits_path, class: "mdc-list-item #{is_current_menu_active?('habits')}" do %>
					<i class="material-icons mdc-list-item__graphic" aria-hidden="true">list</i>Habits
				<% end %>

				<!-- <hr class="mdc-list-divider"> -->
			</div>
		</nav>
	</nav>
</aside>
